# See https://help.github.com/ignore-files/ for more about ignoring files.

# production
/Server/bin
/Server/bin/Debug/
/Server/bin/Release/

# misc
/Server/HouseFoodAPI.csproj.user
/Server/*.user
/Server/obj/
obj
bin
